<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <div class="container">
    <div class="container">
      <div class="jumbotron p-3 text-center">
        <h1 class="display-4">ALEC</h1>
          <hr>
        <p class="lead">Points: 25</p>
        <p class="lead">Remaining Votes: 25</p>
        <p class="lead">Praises Received: 25</p>
        <p class="lead">Criticisms Received: 25</p>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h4 class="card-header text-center bg-dark text-white">HISTORY</h4>

            <div class="card-body">
              <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <h4 class="card-header text-center bg-dark text-white">RECENT COMMENTS</h4>

            <div class="card-body">
              <div class="tab-content">
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="mic-info">
                          <h4 class="media-heading text-uppercase reviews">DREI</h4>
                          <h6 class=media-heading text-uppercase reviews"><mark>07/02/18</mark></h6> 
                          <p class="media-comment">Great work on the project!</p>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="mic-info">
                          <h4 class="media-heading text-uppercase reviews">ZARAH</h4>
                          <h6 class=media-heading text-uppercase reviews"><mark>07/01/18</mark></h6> 
                          <p class="media-comment">Bad comment</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
        </div>
      </div>
    </div>
  </div>


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/js/bootstrap-material-design.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["07/01/18", "07/02/18", "07/03/18", "07/04/18", "07/05/18"],
          datasets: [{
            data: [25,26,24,25,23],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>