<div class="jumbotron text-center">
  <h2><img class="jumbo-thumbnail" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h1>FAILED LOGIN - TRY AGAIN</h1>
  <p></p>
  <a class="btn btn-success btn-lg" href="/auth/auth0">Login</a>
</div>