<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Modal -->
    <div class="modal" id="praise">
    <div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Praise</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
	   	<input type="text" class="form-control" id="comment" placeholder="Enter comment here">
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <input type="text" class="form-control" id="vote" style="width:10%" placeholder=" ">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary">Submit</button>
    </div>

    </div>
    </div>
    </div>

    <div class="modal" id="criticize">
    <div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Criticize</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
		  <input type="text" class="form-control" id="comment" placeholder="Enter comment here">
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <input type="text" class="form-control" id="vote" style="width:10%" placeholder=" ">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary">Submit</button>
    </div>

    </div>
    </div>
    </div>

    <div class="modal" id="no-vote">
    <div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Alert</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      You have no more votes remaining
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
    	<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
    </div>

    </div>
    </div>
    </div>

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  
  <div class="container">
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">VOTES</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <h1 class="h3">REMAINING VOTES: 25</h3>
        </div>
      </div>

      <h4 class="modal-title"><center>TECH TEAM</center></h4>
      <div class="table-responsive">
        <table class="table table-inbox table-hover table-striped">
          <tbody>
            <tr class="">
              <td colspan="8"><center>image</center></td>
              <td colspan="10"><center>Zarah</center></td>
              <td class="td-actions">
                <a class="p-2 text-muted" href="/votes/form"><button type="button" class="btn btn-success">Praise</button></a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#criticize">Criticize</button>
              </td>
            </tr>
            <tr class="">
              <td colspan="8"><center>image</center></td>
              <td colspan="10"><center>Chester</center></td>
              <td class="td-actions">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#praise">Praise</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#criticize">Criticize</button>
              </td>
            </tr>
            <tr class="">
              <td colspan="8"><center>image</center></td>
              <td colspan="10"><center>Alec</center></td>
              <td class="td-actions">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#praise">Praise</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#criticize">Criticize</button>
              </td>
            </tr>
            <tr class="">
              <td colspan="8"><center>image</center></td>
              <td colspan="10"><center>Drei</center></td>
              <td class="td-actions">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#praise">Praise</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#criticize">Criticize</button>
              </td>
            </tr>
            <tr class="">
              <td colspan="8"><center>image</center></td>
              <td colspan="10"><center>Angelo</center></td>
              <td class="td-actions">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#praise">Praise</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#criticize">Criticize</button>
              </td>
            </tr>
            <tr class="">
              <td colspan="8"><center>image</center></td>
              <td colspan="10"><center>Jett</center></td>
              <td class="td-actions">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#praise">Praise</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#criticize">Criticize</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
   
  </body>
</html>
