<div class="container">
  <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">VOTES</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <h1 class="h3">REMAINING VOTES: <%= @remaining_votes_user %></h3>
      </div>
    </div>
    <h4 class="modal-title"><center>TECH TEAM</center></h4>    
    <p> Voting for <%= User.find(params[:receiver]).first_name %> <%= User.find(params[:receiver]).last_name %> </p>

    <%= render partial: 'form', locals: { vote: @vote, receiver: params[:receiver] } %>

  </main>
</div>
