<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-2 text-center"></div>
    <div class="col-8 text-center">
      <a class="blog-header-logo text-dark display-4">PRAISEBOOKY</a>
    </div>
    <div class="col-2" align="left">
      <% if session[:userinfo].present? %>
        <a class="btn btn-sm btn-outline-secondary" href="/logout">Sign Out</a>
      <% end %>
    </div>
  </div>
</header>

<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-center">
    <a class="p-2 text-muted" href="/scoreboards/index"><span data-feather="home"></span> SCOREBOARD</a>
    <a class="p-2 text-muted" href="/votes/index"><span data-feather="file"></span> VOTING PAGE</a>
    <a class="p-2 text-muted" href="/recent_activities/index"><span data-feather="users"></span> RECENT ACTIVITY</a>
    <a class="p-2 text-muted" href="/profiles/index"><span data-feather="bar-chart-2"></span> MY PROFILE</a>
  </nav>
  <!-- Icons --> 
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script> 
  <script> 
    feather.replace() 
  </script> 
</div>
